// variable defines
$main-fonts: 'Open Sans', sans-serif;
$header-fonts: 'Poppins', sans-serif;;
$bg-desktop: "images/bg-desktop.svg";
$bg-mobile: "images/bg-mobile.svg";
$dark-purple: hsl(257, 40%, 49%);
$light-purple: hsl(257, 20%, 49%);
$font-color: #ffffff;
$margin-size: 20px;
$font-size-pixel: 12px;
$header-size: 1.5em;
$main-size: 1.3em;
$button-size: .9em;
$footer-size: 0.6em;
$button-color: #ffffff;
$box-shadow:  2px 2px 10px #555555;


// import defines
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');


h1{
	font-family: $header-fonts;
	font-size: $header-size;
}

body {
	background: url($bg-desktop) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: $dark-purple;
	font-size: $font-size-pixel;
	font-family: $main-fonts;
	color: $font-color;
	margin: $margin-size * 2;
	font-size: $main-size;
}

a{
	color: $font-color;
}

footer{
	font-size: $footer-size;
}

#container{
	display: flex;

}

.row{
	flex-direction: row;
	flex: 1;
	align-items: center; // horizontal center for column
	text-align: center; // vertical center for column;
}

.column{

	flex-direction: column;
	flex: 1;
	margin: $margin-size;
}

#info{
	text-align: left;
}

button{
	width: 40%;
	padding: $margin-size/2;
	border-radius: $margin-size*2;
	background-color: $button-color;
	color: $light-purple;
	font-size: $button-size;
	box-shadow: $box-shadow;
}

#icons{
	
	text-align: right;
	font-size: $main-size;
	
}

#icons a{
	text-decoration: none;
	margin-right: $margin-size;
}

// mobile
@media screen and (max-width:500px) {
	body {
		margin: 10%;
		background: url($bg-mobile) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: $dark-purple;
		font-size: $font-size-pixel;
		font-family: $main-fonts;
		color: blue;
		margin: $margin-size * 2;
		font-size: $main-size;
	}
}